VITE_API_URL=http://localhost:3000
VITE_DEPLOY_ENV=local
VITE_SOCKET_URL=http://localhost:5002
VITE_MAP_STYLE_URL=https://tiles.openfreemap.org/styles/positron
VITE_MAP_DARK_STYLE_URL=https://tiles.openfreemap.org/styles/dark
API_PROXY_TARGET=http://localhost:3000
