NODE_ENV=production
MONGO_URI=
REDIS_URI=
BETTER_AUTH_URL=https://drio-server.onrender.com
BETTER_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
TRUSTED_ORIGINS=https://drio-ride-booking-app.onrender.com,http://localhost:5173,http://127.0.0.1:5173
DRIO_DISABLE_EMAIL_VERIFICATION=false
SOCKET_SERVER_URL=https://drio-socket-server.onrender.com
MAIL_ID=
MAIL_PASSWORD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_PRESET_NAME=
PHOTON_API_BASE_URL=https://photon.komoot.io/api
OSRM_API_BASE_URL=https://router.project-osrm.org
TEST_API_URL=https://drio-server.onrender.com
TEST_ORIGIN=https://drio-ride-booking-app.onrender.com
